<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CayGPServlet</servlet-name>
        <servlet-class>Servlet.CayGPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themPhongBanServlet</servlet-name>
        <servlet-class>Servlet.themPhongBanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themChucVuServlet</servlet-name>
        <servlet-class>Servlet.themChucVuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themTrangThaiServlet</servlet-name>
        <servlet-class>Servlet.themTrangThaiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themCongViecServlet</servlet-name>
        <servlet-class>Servlet.themCongViecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timTrangThaiServlet</servlet-name>
        <servlet-class>Servlet.timTrangThaiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timNguoiServlet</servlet-name>
        <servlet-class>Servlet.timNguoiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timPhongBanServlet</servlet-name>
        <servlet-class>Servlet.timPhongBanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timChucVuServlet</servlet-name>
        <servlet-class>Servlet.timChucVuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themNguoiDungServlet</servlet-name>
        <servlet-class>Servlet.themNguoiDungServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themUserServlet</servlet-name>
        <servlet-class>Servlet.themUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timUserServlet</servlet-name>
        <servlet-class>Servlet.timUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nguoi_TimKiemServlet</servlet-name>
        <servlet-class>Servlet.Nguoi_TimKiemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>capNhatNguoiDungServlet</servlet-name>
        <servlet-class>Servlet.capNhatNguoiDungServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themQuyenServlet</servlet-name>
        <servlet-class>Servlet.themQuyenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timQuyenServlet</servlet-name>
        <servlet-class>Servlet.timQuyenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timMapQuyenServlet</servlet-name>
        <servlet-class>Servlet.timMapQuyenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themMAPViecServlet</servlet-name>
        <servlet-class>Servlet.themMAPViecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timCongViecServlet</servlet-name>
        <servlet-class>Servlet.timCongViecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timTrangThaiCongViecServlet</servlet-name>
        <servlet-class>Servlet.timTrangThaiCongViecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timMapViecServlet</servlet-name>
        <servlet-class>Servlet.timMapViecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timNguoiPhanCongServlet</servlet-name>
        <servlet-class>Servlet.timNguoiPhanCongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapNhatCongViecServlet</servlet-name>
        <servlet-class>Servlet.CapNhatCongViecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>capNhatMAPViecServlet</servlet-name>
        <servlet-class>Servlet.capNhatMAPViecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themYKienServlet</servlet-name>
        <servlet-class>Servlet.themYKienServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timYKienViecServlet</servlet-name>
        <servlet-class>Servlet.timYKienViecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>capNhatYKienServlet</servlet-name>
        <servlet-class>Servlet.capNhatYKienServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timPhanQuyenServlet</servlet-name>
        <servlet-class>Servlet.timPhanQuyenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timChuaPhanQuyenServlet</servlet-name>
        <servlet-class>Servlet.timChuaPhanQuyenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themChuaPhanQuyenServlet</servlet-name>
        <servlet-class>Servlet.themChuaPhanQuyenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themPhanQuyenServlet</servlet-name>
        <servlet-class>Servlet.themPhanQuyenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timLinkServlet</servlet-name>
        <servlet-class>Servlet.timLinkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themChuongTrinhServlet</servlet-name>
        <servlet-class>Servlet.themChuongTrinhServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timNutServlet</servlet-name>
        <servlet-class>Servlet.timNutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>capNhatMapQuyenServlet</servlet-name>
        <servlet-class>Servlet.capNhatMapQuyenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themMapQuyenServlet</servlet-name>
        <servlet-class>Servlet.themMapQuyenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>luuViecNhoServlet</servlet-name>
        <servlet-class>Servlet.luuViecNhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timCongViecNhoServlet</servlet-name>
        <servlet-class>Servlet.timCongViecNhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exportExcelServlet</servlet-name>
        <servlet-class>Servlet.exportExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>runAppServlet</servlet-name>
        <servlet-class>Servlet.runAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>baoCaoKyHanServlet</servlet-name>
        <servlet-class>Servlet.baoCaoKyHanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>danhSachHuyDongServlet</servlet-name>
        <servlet-class>Servlet.danhSachHuyDongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themMoiMapSellerIdServlet</servlet-name>
        <servlet-class>Servlet.themMoiMapSellerIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiTieuHuyDongServlet</servlet-name>
        <servlet-class>Servlet.ChiTieuHuyDongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportDanhSachHuyDongServlet</servlet-name>
        <servlet-class>Servlet.ExportDanhSachHuyDongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thayDoiPassServlet</servlet-name>
        <servlet-class>Servlet.thayDoiPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lichSuCapNhatSellerIdServlet</servlet-name>
        <servlet-class>Servlet.lichSuCapNhatSellerIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XuatBaoCaoKhuyenMaiServlet</servlet-name>
        <servlet-class>Servlet.XuatBaoCaoKhuyenMaiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timKhachHangKhuyenMaiServlet</servlet-name>
        <servlet-class>Servlet.timKhachHangKhuyenMaiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timKhachHangServlet</servlet-name>
        <servlet-class>Servlet.timKhachHangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themMoiKhachHangKhuyenMaiServlet</servlet-name>
        <servlet-class>Servlet.themMoiKhachHangKhuyenMaiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuaKhuyenMaiServlet</servlet-name>
        <servlet-class>Servlet.QuaKhuyenMaiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuaKhuyenMaiDaNhanServlet</servlet-name>
        <servlet-class>Servlet.QuaKhuyenMaiDaNhanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timKhachHangTietKiemKhuyenMaiServlet</servlet-name>
        <servlet-class>Servlet.timKhachHangTietKiemKhuyenMaiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themMoiThongTinTietKiemKhuyenMaiServlet</servlet-name>
        <servlet-class>Servlet.themMoiThongTinTietKiemKhuyenMaiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themQuaKhuyenMaiDaNhanServlet</servlet-name>
        <servlet-class>Servlet.themQuaKhuyenMaiDaNhanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportThongTinTietKiemKhuyenMaiServlet</servlet-name>
        <servlet-class>Servlet.ExportThongTinTietKiemKhuyenMaiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestPDFServlet</servlet-name>
        <servlet-class>Servlet.TestPDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KhuyenMai_BaoCao_Qua_Servlet</servlet-name>
        <servlet-class>Servlet.KhuyenMai_BaoCao_Qua_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KhuyenMai_XuatDuLieu_Qua_Servlet</servlet-name>
        <servlet-class>Servlet.KhuyenMai_XuatDuLieu_Qua_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taiKhoanTietKiemServlet</servlet-name>
        <servlet-class>Servlet.taiKhoanTietKiemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thongtinTaikhoanTiekiem</servlet-name>
        <servlet-class>Servlet.thongtinTaikhoanTiekiem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thongtinTaisanThechap</servlet-name>
        <servlet-class>Servlet.thongtinTaisanThechap</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CayGPServlet</servlet-name>
        <url-pattern>/CayGPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themPhongBanServlet</servlet-name>
        <url-pattern>/themPhongBanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themChucVuServlet</servlet-name>
        <url-pattern>/themChucVuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themTrangThaiServlet</servlet-name>
        <url-pattern>/themTrangThaiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themCongViecServlet</servlet-name>
        <url-pattern>/themCongViecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timTrangThaiServlet</servlet-name>
        <url-pattern>/timTrangThaiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timNguoiServlet</servlet-name>
        <url-pattern>/timNguoiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timPhongBanServlet</servlet-name>
        <url-pattern>/timPhongBanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timChucVuServlet</servlet-name>
        <url-pattern>/timChucVuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themNguoiDungServlet</servlet-name>
        <url-pattern>/themNguoiDungServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themUserServlet</servlet-name>
        <url-pattern>/themUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timUserServlet</servlet-name>
        <url-pattern>/timUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nguoi_TimKiemServlet</servlet-name>
        <url-pattern>/Nguoi_TimKiemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>capNhatNguoiDungServlet</servlet-name>
        <url-pattern>/capNhatNguoiDungServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themQuyenServlet</servlet-name>
        <url-pattern>/themQuyenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timQuyenServlet</servlet-name>
        <url-pattern>/timQuyenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timMapQuyenServlet</servlet-name>
        <url-pattern>/timMapQuyenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themMAPViecServlet</servlet-name>
        <url-pattern>/themMAPViecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timCongViecServlet</servlet-name>
        <url-pattern>/timCongViecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timTrangThaiCongViecServlet</servlet-name>
        <url-pattern>/timTrangThaiCongViecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timMapViecServlet</servlet-name>
        <url-pattern>/timMapViecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timNguoiPhanCongServlet</servlet-name>
        <url-pattern>/timNguoiPhanCongServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapNhatCongViecServlet</servlet-name>
        <url-pattern>/CapNhatCongViecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>capNhatMAPViecServlet</servlet-name>
        <url-pattern>/capNhatMAPViecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themYKienServlet</servlet-name>
        <url-pattern>/themYKienServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timYKienViecServlet</servlet-name>
        <url-pattern>/timYKienViecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>capNhatYKienServlet</servlet-name>
        <url-pattern>/capNhatYKienServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timPhanQuyenServlet</servlet-name>
        <url-pattern>/timPhanQuyenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timChuaPhanQuyenServlet</servlet-name>
        <url-pattern>/timChuaPhanQuyenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themChuaPhanQuyenServlet</servlet-name>
        <url-pattern>/themChuaPhanQuyenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themPhanQuyenServlet</servlet-name>
        <url-pattern>/themPhanQuyenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timLinkServlet</servlet-name>
        <url-pattern>/timLinkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themChuongTrinhServlet</servlet-name>
        <url-pattern>/themChuongTrinhServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timNutServlet</servlet-name>
        <url-pattern>/timNutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>capNhatMapQuyenServlet</servlet-name>
        <url-pattern>/capNhatMapQuyenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themMapQuyenServlet</servlet-name>
        <url-pattern>/themMapQuyenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>luuViecNhoServlet</servlet-name>
        <url-pattern>/luuViecNhoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timCongViecNhoServlet</servlet-name>
        <url-pattern>/timCongViecNhoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exportExcelServlet</servlet-name>
        <url-pattern>/exportExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>runAppServlet</servlet-name>
        <url-pattern>/runAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>baoCaoKyHanServlet</servlet-name>
        <url-pattern>/baoCaoKyHanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>danhSachHuyDongServlet</servlet-name>
        <url-pattern>/danhSachHuyDongServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themMoiMapSellerIdServlet</servlet-name>
        <url-pattern>/themMoiMapSellerIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiTieuHuyDongServlet</servlet-name>
        <url-pattern>/ChiTieuHuyDongServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportDanhSachHuyDongServlet</servlet-name>
        <url-pattern>/ExportDanhSachHuyDongServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thayDoiPassServlet</servlet-name>
        <url-pattern>/thayDoiPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lichSuCapNhatSellerIdServlet</servlet-name>
        <url-pattern>/lichSuCapNhatSellerIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XuatBaoCaoKhuyenMaiServlet</servlet-name>
        <url-pattern>/XuatBaoCaoKhuyenMaiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timKhachHangKhuyenMaiServlet</servlet-name>
        <url-pattern>/timKhachHangKhuyenMaiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timKhachHangServlet</servlet-name>
        <url-pattern>/timKhachHangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themMoiKhachHangKhuyenMaiServlet</servlet-name>
        <url-pattern>/themMoiKhachHangKhuyenMaiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuaKhuyenMaiServlet</servlet-name>
        <url-pattern>/QuaKhuyenMaiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuaKhuyenMaiDaNhanServlet</servlet-name>
        <url-pattern>/QuaKhuyenMaiDaNhanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timKhachHangTietKiemKhuyenMaiServlet</servlet-name>
        <url-pattern>/timKhachHangTietKiemKhuyenMaiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themMoiThongTinTietKiemKhuyenMaiServlet</servlet-name>
        <url-pattern>/themMoiThongTinTietKiemKhuyenMaiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themQuaKhuyenMaiDaNhanServlet</servlet-name>
        <url-pattern>/themQuaKhuyenMaiDaNhanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportThongTinTietKiemKhuyenMaiServlet</servlet-name>
        <url-pattern>/ExportThongTinTietKiemKhuyenMaiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestPDFServlet</servlet-name>
        <url-pattern>/TestPDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KhuyenMai_BaoCao_Qua_Servlet</servlet-name>
        <url-pattern>/KhuyenMai_BaoCao_Qua_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KhuyenMai_XuatDuLieu_Qua_Servlet</servlet-name>
        <url-pattern>/KhuyenMai_XuatDuLieu_Qua_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taiKhoanTietKiemServlet</servlet-name>
        <url-pattern>/taiKhoanTietKiemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thongtinTaikhoanTiekiem</servlet-name>
        <url-pattern>/thongtinTaikhoanTiekiem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thongtinTaisanThechap</servlet-name>
        <url-pattern>/thongtinTaisanThechap</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
